<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="../static/css/style_plateforme.css">   
        <link rel="icon" type="image/png" sizes="32x32" href="../static/Images/favicon-32x32.png">
        <title>AUD'IT</title>
    </head>

    <body>

    	<header>

    		<div class="header">
   				<div class="LogoHeader"><img src="../static/Images/logoblanc2.png" alt="Logo" class="Logo"> </div>
                                <div class="NomHeader"><h1 class="NameHeader">Plateforme de test</h1></div>
                                <div class="Profil"><img src="../static/Images/profil.png"  alt="Logo" class="LogoProfil">
                                <a href="{{ url_for('logout') }}" title="Déco" class="Deco">Déconnexion</a></div>

   				<div class="HeaderFond"></div>
			</div>
    	<div class="NavEmploye">
            
              <a href="{{ url_for('accueil') }}" class="lien77">Profil</a>
              <div class="Divider"></div>
              <a href="{{ url_for('test_global') }}"  class="lien77">Test Global</a> 
              <div class="Divider" ></div>
              <a href="{{ url_for('activitees') }}"  id="enCours1" class="lien">Activité</a>      
              <div class="Divider" ></div>
              <a href="{{ url_for('regles') }}" class="lien77">Règles ANSSI</a>      
                 
              
        </div>
    	</header>
        
        <style>
            thead, tfoot {
             
              color: white;
              
            }
            
            thead th, tfoot th, tfoot td {
              background: rgba(32,31,32,0.87);
              border:rgba(32,31,32,0.87);
              
             
              font-size:1.3em;
              
              
            }
            td{
                border-left: none;
                border-right: none;
            }
            tr
            {
                background-color: rgba(117,112,117,0.87);
            }input{
                background-color: red;
                border-radius: 5px;
                color:white;
                
            }
            tr:hover {background: rgb(148,28,182);
  background: linear-gradient(90deg, rgba(148,28,182,1) 0%, rgba(72,157,188,1) 100%)}
        </style>
                <script src=
        "//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">
        </script>
        <script src=
        "//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js">
        </script>
        <main class="PageInfo"  style="margin-top:280px;padding-bottom:70px">
            <div class="Info">
                <img src="../static/Images/activite.png" alt="Logo" class="LogoProfil1">
                <div>
                    <h1 class="policeProfil">Mon actvité :</h1>
                    <h3 class="type2">Retrouvez-ici votre activité, vos notifications et vos alertes :</h3>
                    <div class="navGestion" style="margin-top:20px;">
                        <a href="{{ url_for('activitees') }}"  class="lien3"  style="font-size:1.3em; ">Historique analyse</a>
                        <div class="Divider3"></div> 
                        <a href="{{ url_for('activitees_faille') }}"  class="lien3" id="enCours"  style="font-size:1.3em; ">Failles CVE</a> 

                        <div class="Divider3"></div> 
                        <a href="{{ url_for('activitees_anssi') }}"  class="lien3"  style="font-size:1.3em; ">ANSSI</a> 
                        
         
                     
                </div>
                     
                </div>
            </div>
           
            <div class="Divider4" style="margin-left:60px"></div>  
            
                <h1 style="color:white;font-family:Futura;font-size:1.3em;margin-left:50px;margin-top:40px;">CVE en cours d'analyse :</h1>
                <table style="text-align:center;margin: 0 auto;margin-top:10px;width:80%" id="studtable1" >
                  <thead>
                       <th>Nom</th>
                      
                       <th>Date</th>
                
                       <th>Description</th>
                      
                       <th>Actions</th>
            
                         
                   </thead>
                   <tbody>
                        {% for data in result[1] %}
                           <tr>
                               <td style="width:15%;height:40px;">{{data['Nom']}}</td>
                               
                               <td style="width:5%">{{data['Date']}}</td>
                               
                               <td style="width:50%;font-size:1.1em">{{data['Description']}}</td>
                        
                               <td style="width:10%"><ul id="menu-demo2">
                        <li><a href="#"><img src="../static/Images/chevron.png" alt="Logo" style="height:15px"></a>
                            <ul>
                                <li><a target="_blank" href={{data['lien']}}><img src="../static/Images/link.png" style="height:30px" title="Lien vers le site"></a></li>
                                <li><a href={{url_for('suppress',filename=data['lien'])}}><img src="../static/Images/cross.png" style="height:23px" title="Supprimer cet audit de l'historique"></a></a></li>
                                
                            </ul>
                        </li></ul></td>
                          </tr>
                          
                         {% endfor %}
                  </tbody>
                                     
                    </table>
                    
                    <a  href="{{ url_for('refresh_cve') }}" style="font-family:Futura;margin-left:10%;margin-top:10px;">
                       Refresh
                    </a>
                <script>
                  function myFunction1() {
                 $(document).ready(function () {
                    $("#studtable1").table2excel({
                        filename: "listeFaille.xls"
                    });
                 });
                  }
                </script>
                
                
                
                    

           

                
        </main>
     
       
    	
    	
    </body>
    
    <footer class="footer5">
            
		<div class="footerContenu1">
		<div class="LogoFooter"><p><img src="../static/Images/LogoEsme.png"  alt="Logo1" class="logo1"></p></div>
        <div style="display:flex;margin-left:10px">
                    		
            <a href="https://www.linkedin.com/in/louis-laurent-34a334181/" target="_blank"><img src="../../static/Images/louisRond.png"  alt="Logo1" class="logo1" style="margin-top:20px"></a>
            <img src="../../static/Images/lisaRond.png"  alt="Logo1" class="logo1" style="margin-top:20px">
            <img src="../../static/Images/walidRond.png"  alt="Logo1" class="logo1" style="margin-top:20px">
            <div class="MailFooter"><h2 class="TextFooter">Projet de fin d'étude, Groupe : Louis Laurent - Lisa Cohen - Walid BenBella </br>Nous contacter pour toutes questions : <a href="mailto:louis.laurent@vinci-energies.com" style="text-decoration: underline;" >Cliquez-ici</a> </br>Lien github de notre projet : <a href="https://github.com/azury74/Aud-IT" target="_blank" style="text-decoration: underline;">Cliquez-ici</a></h2></div>
		</div>
</div>
	</footer>
</html>		
