<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="../static/css/style_plateforme.css">   
        <link rel="icon" type="image/png" sizes="32x32" href="../static/Images/favicon-32x32.png">
        <title>AUD'IT</title>
    </head>

    <body>

    	<header>

    		<div class="header">
   				<div class="LogoHeader"><img src="../static/Images/logoblanc2.png" alt="Logo" class="Logo"> </div>
                                <div class="NomHeader"><h1 class="NameHeader">Plateforme de test</h1></div>
                                <div class="Profil"><img src="../static/Images/profil.png"  alt="Logo" class="LogoProfil">
                                {% if notif == True %}
                                    <img src="../static/Images/notif1.png"  alt="Logo" class="LogoProfil">
                                {% else %}
                                   <img src="../static/Images/notif.png"  alt="Logo" class="LogoProfil">
                                {% endif %}
                               
                                <a href="{{ url_for('logout') }}" title="Déco" class="Deco">Déconnexion</a></div>

                                 {% if no == "afficher" %}
                                 
                                 <div style="position:absolute;top:140px;right:250px;background-color:rgb(79, 76, 75);border-radius:10px;z-index:4">{%for i in list_notif%}<p style="color:white;font-family:Futura;padding:10px">{{i}}</p> {% endfor %}</div>
                                 {% endif %}
   				<div class="HeaderFond"></div>
			</div>
    	<div class="NavEmploye">
            
              <a href="{{ url_for('accueil') }}" class="lien77">Profil</a>
              <div class="Divider"></div>
              <a href="{{ url_for('test_global') }}"  id="enCours1"  class="lien">Test Global</a> 
              <div class="Divider" ></div>
              <a href="{{ url_for('activitees') }}"  class="lien77">Activité</a>     
              {% if notif == True %}
                   <img src="../static/Images/notif2.png"  alt="Logo" class="LogoProfil" style="height:8px;margin-left:-11px;margin-top:0px;margin-right:7px">
              {% endif %}    
              <div class="Divider" ></div>
              <a href="{{ url_for('regles') }}" class="lien77">Règles ANSSI</a>      
                 
              
        </div>
    	</header>
        <style>
            thead, tfoot {
             
              color: white;
              
            }
            
            thead th, tfoot th, tfoot td {
              background: rgba(32,31,32,0.87);
              border:rgba(32,31,32,0.87);
              
             
              font-size:1.3em;
              
              
            }
            td{
                border-left: none;
                border-right: none;
            }
            tr
            {
                background-color: rgba(117,112,117,0.87);
            }input{
                background-color: red;
                border-radius: 5px;
                color:white;
                
            }
            tr:hover {background: rgb(148,28,182);
  background: linear-gradient(90deg, rgba(148,28,182,1) 0%, rgba(72,157,188,1) 100%)}
        </style>
        
        
        <main class="PageInfo"  style="margin-top:280px;padding-bottom:70px">
            
           <div class="Info">
               <img src="../static/Images/analyse.png" alt="Logo" class="LogoProfil8">
               <div>
                   <h1 class="policeProfil">Résultats de l'analyse :</h1>
                   <h3 class="type2">Découvrez votre score</h3>
               </div>
           </div>
           
           <div class="Divider4"></div>   
           
          
           <div style="margin-top:40px">
               <a href={{url_for('retour_bis',filename1=filename1,filename2=filename2)}} title="Déco" class="Deco" style="text-decoration: underline;font-family:Futura;margin-top:30px;margin-left:50px">< Retour </a></div>

               <h1 style="color:white;font-family:Futura;font-size:1.3em;margin-left:50px;margin-top:40px">Le détail :</h1>
               <table style="text-align:center;margin-left:100px;margin-top:10px;width:80%" id="studtable" >
                 <thead>
                      <th>Nom</th>
                      <th>Type</th>
                      <th>Description</th>
                      <th>Test</th>
                 

           
                        
                  </thead>
                  <tbody>
                       {% for data in result %}
                          <tr>
                              <td style="width:20%;height:40px;">{{data['Nom']}}</td>
                              <td style="width:20%;height:20px;">{{data['Type']}}</td>
                              <td style="width:50%">{{data['Description']}}</td>
                              
                              {% if data['Test'] == "Valide" %}
                                  <td style="width:20%;background-color:green">{{data['Test']}}</td>
                                  
                              {% else %}
                                  <td style="width:20%;background-color:red">{{data['Test']}}</td>
                                  
                            {% endif %}  
                         </tr>
                        
                        {% endfor %}
                 </tbody>
                   
                    
                   </table>
                   <a  onclick="myFunction()" style="font-family:Futura;margin-left:100px;margin-top:10px;">
                      Exporter au format Excel
                   </a>
               <script>
                 function myFunction() {
                $(document).ready(function () {
                   $("#studtable").table2excel({
                       filename: "listAudit.xls"
                   });
                });
                 }
               </script>
                   
    </div>
              
           
           
    
                
        </main>
    	
    </body>
    <footer class="footer5">
            
		<div class="footerContenu1">
		<div class="LogoFooter"><p><img src="../static/Images/LogoEsme.png"  alt="Logo1" class="logo1"></p></div>
        <div style="display:flex;margin-left:10px">
                    		
            <a href="https://www.linkedin.com/in/louis-laurent-34a334181/" target="_blank"><img src="../../static/Images/louisRond.png"  alt="Logo1" class="logo1" style="margin-top:20px"></a>
            <img src="../../static/Images/lisaRond.png"  alt="Logo1" class="logo1" style="margin-top:20px">
            <img src="../../static/Images/walidRond.png"  alt="Logo1" class="logo1" style="margin-top:20px">
            <div class="MailFooter"><h2 class="TextFooter">Projet de fin d'étude, Groupe : Louis Laurent - Lisa Cohen - Walid BenBella </br>Nous contacter pour toutes questions : <a href="mailto:louis.laurent@vinci-energies.com" style="text-decoration: underline;" >Cliquez-ici</a> </br>Lien github de notre projet : <a href="https://github.com/azury74/Aud-IT" target="_blank" style="text-decoration: underline;">Cliquez-ici</a></h2></div>
		</div>
</div>
	</footer>
</html>		