<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="../static/css/style_plateforme.css">   
        <link rel="icon" type="image/png" sizes="32x32" href="../static/Images/favicon-32x32.png">
        <title>AUD'IT</title>
    </head>

    <body>

    	<header>

    		<div class="header">
   				<div class="LogoHeader"><img src="../static/Images/logoblanc2.png" alt="Logo" class="Logo"> </div>
                                <div class="NomHeader"><h1 class="NameHeader">Plateforme de test</h1></div>
                                <div class="Profil"><img src="../static/Images/profil.png"  alt="Logo" class="LogoProfil">
                                <a href="{{ url_for('logout') }}" title="Déco" class="Deco">Déconnexion</a></div>

   				<div class="HeaderFond"></div>
			</div>
    	<div class="NavEmploye">
            
              <a href="{{ url_for('accueil') }}" class="lien77">Profil</a>
              <div class="Divider"></div>
              <a href="{{ url_for('test_global') }}"  class="lien77">Test Global</a> 
              <div class="Divider" ></div>
              <a href="{{ url_for('activitees') }}"  class="lien77">Activité</a>      
              <div class="Divider" ></div>
              <a href="{{ url_for('regles') }}" id="enCours1" class="lien">Règles ANSSI</a>      
                 
              
        </div>
    	</header>
        
        
        
        <main class="PageInfo"  style="margin-top:250px;padding-bottom:70px">
            <div class="Info">
                <img src="../static/Images/book.png" alt="Logo" class="LogoProfil1">
                <div>
                    <h1 class="policeProfil">Les règles que nous vérifions :</h1>
                    <div class="navGestion" style="margin-top:20px;">
                        <a href="{{ url_for('regles') }}"  class="lien3" style="font-size:1.3em; ">Passerelle Internet</a>
                        <div class="Divider3"></div> 
                        <a href="{{ url_for('regles_commu') }}"  class="lien3" id="enCours"  style="font-size:1.3em; ">Commutateurs</a> 

                        <div class="Divider3"></div> 
                        <a href="Conge/DemandePatron.php"  class="lien3"  style="font-size:1.3em; ">Configuration</a> 
                        
                        
                    </div>
                     
                </div>
            </div>
           
            
    
    
            <div class="Divider4"></div>                        
                    
                        <h1 style="color:white;font-family:Futura;font-size:1.3em;margin-left:50px;margin-top:40px;">Règles de l'ANSSI :</h1>
                        <table style="text-align:center;margin-left:100px;margin-top:10px;" id="studtable3" >
                          <thead>
                               <th>Numéro</th>
                               <th>Description</th>
                               <th>Implémentation</th>
                                  
                           </thead>
                           <tbody>
                                {% for data in result %}
                                   <tr>
                                       <td style="width:200px;height:40px;">{{data['Num']}}</td>
                                       <td style="width:750px">{{data['Description']}}</td>
                                        <td style="width:200px">{{data['Implémentation']}}</td>
                                  </tr>
                                  
                                 {% endfor %}
                          </tbody>
                            
                             
                            </table>
                            <a  onclick="myFunction2()" style="font-family:Futura;margin-left:100px;margin-top:10px;">
                           Exporter au format Excel
                        </a>
                    <script>
                      function myFunction2() {
                     $(document).ready(function () {
                        $("#studtable3").table2excel({
                            filename: "listANSSI.xls"
                        });
                     });
                      }
                    </script>

           

                
        </main>
     
        <footer class="footer5">
                
    		<div class="footerContenu1">
   			<div class="LogoFooter"><p><img src="../static/Images/logoblanc2.png"  alt="Logo1" class="logo1"></p></div>
            <div class="MailFooter"><h2 class="TextFooter"><br /> 67 Bd de Brandebourg, 94200 Ivry-sur-Seine<br />01 56 20 62 62<br />Nous contacter :<a href="mailto:directeur@teamsprint.fr">Envoyer un mail</a></h2></div>
		</div>

    	</footer>
    	
    	
    </body>
</html>		