
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/style_connexion.css">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/Images/favicon-32x32.png">
        <title>AUD'IT</title>
    </head>

    <body style="background: url('../static/Images/Illustrration.jpg')">
    	
        <div class="loader"> </div>
    	<div class="loginbox">
            <img src="../static/Images/avatar.png" class="avatar">
            <h1 class="auth">Connectez-vous à Aud'it</h1>
            <form action="{{ url_for('verif') }}" method="POST" name="formulaire">                
                                
                <p>Adresse mail :</p>
                <input type="text" name="Login" id="Login" placeholder="antoine.dupond@esme.fr" required>
                
                <p>Mot de passe :</p>
                <input type="password" name="Mdp" id="Mdp" placeholder="************" required>  
               
                <input type="submit" name="Valider" value="Confirmer">
                
                <a href="MDP/OubllieMdp.php">J'ai oublié mon mot de passe</a>
               
                
            </form>
            <div style="display:flex;margin-top:20px">
             <P>Pas de compte ?</P>
             <a href="{{ url_for('Register') }}" class="lien79">Créer un compte</a>
            </div>
            
        </div>
     
    	
    	

    </body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
    document.getElementById("button").onclick = function () {
        location.href = "{{ url_for('Register') }}";
    };
$(window).load(function() {
$(".loader").fadeOut("1000"); });
</script>
</html>