<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="../static/css/style_plateforme.css">   
        <link rel="icon" type="image/png" sizes="32x32" href="../static/Images/favicon-32x32.png">
        <title>AUD'IT</title>
    </head>

    <body>

    	<header>

    		<div class="header">
   				<div class="LogoHeader"><img src="../static/Images/logoblanc2.png" alt="Logo" class="Logo"> </div>
                                <div class="NomHeader"><h1 class="NameHeader">Plateforme de test</h1></div>
                                <div class="Profil"><img src="../static/Images/profil.png"  alt="Logo" class="LogoProfil">
                                <a href="{{ url_for('logout') }}" title="Déco" class="Deco">Déconnexion</a></div>

   				<div class="HeaderFond"></div>
			</div>
    	<div class="NavEmploye">
            
              <a href="{{ url_for('accueil') }}" class="lien">Profil</a>
              <div class="Divider"></div>
              <a href="{{ url_for('test_global') }}"  id="enCours1"  class="lien77">Test Global</a> 
              <div class="Divider" ></div>
              <a href="{{ url_for('activitees') }}"  class="lien77">Activité</a>      
              <div class="Divider" ></div>
              <a href="{{ url_for('regles') }}" class="lien77">Règles ANSSI</a>      
                 
              
        </div>
    	</header>
        
        
        
        <main class="PageInfo"  style="margin-top:250px;padding-bottom:70px">
            <div class="Info">
                <img src="../static/Images/profil.png" alt="Logo" class="LogoProfil1">
                <div>
                    <h1 class="policeProfil">Déposer le fichier</h1>
                    
                     
                </div>
            </div>
           
            
    
            
            <h2 class="txt2">Déposer le/les fichiers de configuration : </h2>
            
            <div class="Divider4"></div>                        
                    <div class="Info1">
                    <p style="color:white;font-family:futura;margin-top:40px">Veuillez déposer un fichier sous la forme .mpg. Tout autre format ne sera pas accepté !</p>
                    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                      <div class="file-input">
                      <input type="file" name="file" id="file" style="color:white;font-family:Futura;background-color: #489dbc"/>
                      
                      </label>
                    </div>
                     <div class="Envoi1">
                    
                    <button class="button" type="submit" name="envoyer" ><span>Envoyer le/les fichiers</span></button>
                </div>
    </form>
         </div>

           

                
        </main>
    	
    </body>
    <footer class="footer5">
            
		<div class="footerContenu1">
		<div class="LogoFooter"><p><img src="../static/Images/logoblanc2.png"  alt="Logo1" class="logo1"></p></div>
        <div class="MailFooter"><h2 class="TextFooter"><br /> 67 Bd de Brandebourg, 94200 Ivry-sur-Seine<br />01 56 20 62 62<br />Nous contacter :<a href="mailto:directeur@teamsprint.fr">Envoyer un mail</a></h2></div>

	</footer>
</html>		